@import '~@scss/utils/_variables.scss';

.button{
  font-size: 16px;
  padding:.6rem;
  outline: 0;
  border: 0;
  margin: 0;
  background: transparent;
  border: solid 1px white;
  color: white;
  width: 100%;
  cursor: pointer;
}
