@import '@scss/utils/_variables.scss';
@import '@scss/utils/_flexbox.scss';

/**
* Mobile rules
*/
.location-form{
  position: fixed;
  z-index: 20;
  margin-left: -102%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding : 1rem;
  transition: 500ms;
  &.-active{
    transition: 500ms;
    margin: 0;
  }
  >.inputscontainer{
  }
  >.buttoncontainer{
    margin-top: 10px;
  }
  >.closebutton{
    float: right;
    color: white;
    font-size: 25px;
    margin-bottom: 5px;
  }
}

/**
* Tablet rules
*/
@media screen and (min-width:$tablet-size) {
  .location-form{
    height: auto;
    max-width: 500px;
    margin: 0 auto;
    background: transparent!important;
    position: relative;
    &.-active{
      margin: 0 auto;
    }
    > .inputscontainer{
      width: 100%;
      display: block;
    }
    >.buttoncontainer{
      display: block;
      width: 100%;
    }
    >.closebutton{
      display: none;
    }
  }
}

@media screen and (min-width:$desktop-size) {
  .location-form{
    max-width: 450px;
  }
}
