
.weather-details{
  -js-display:flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  >.maininfo, >.citydetails{
    color: white;
  }

  >.citydetails{
    text-transform: uppercase;
    font-size: 20px;
    padding: 1rem 0;
  }

  >.maininfo{
    -js-display:flex;
    display: flex;
    align-items: center;
    padding: .5rem;
    >.wi{
      font-size: 50px;
    }
    >.temperature{
      margin-left: 15px;
      font-size: 50px;
    }
  }
  >.subinfos{
    padding:.5rem;
    color:lightgray;
  }
}

