@import '@scss/utils/_variables.scss';

/**
* Mobile rules
*/
.week-forecast {
  >.dayslist{
    -js-display:flex;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 1rem 0;
    box-sizing: border-box;
    list-style:none;
    >.day {
      margin: 0 auto;
      width: 16%;
      color:white;
      text-align: center;
      >.max,>.min,>.label {
        width: 100%;
        display: block;
      }
      >.label{
        padding: .5rem 0;
        font-weight: bold;
      }
      >.max, >.min{
        padding: .2rem 0;
      }
      >.min {
        color: lightgray;
        font-size: 16px;
      }
    }
  }
}

/**
* Tablet rules
*/
@media screen and (min-width:$tablet-size) {
  .week-forecast{
    margin: 0 auto;
    max-width: 400px;
  }
}

/**
* Desktop rules
*/
@media screen and (min-width:$desktop-size) {
  .week-forecast{
    margin: 0 auto;
    max-width: 600px;
  }
}
