@mixin inputs(){
  outline: 0;
  font-size: 16px;
  box-sizing: border-box;
  border: 0;
  padding:.6rem .2rem;
  width: 100%;
  text-transform: uppercase;
  background: transparent;
  border-bottom: solid 1px white;
  color: white;
  >option{
    color:black;
  }
  &::placeholder {
      color: white;
  }
  &:-ms-input-placeholder {
      color: white;
  }
 &:disabled {
   cursor: not-allowed;
 }
}
