/**
* Lib imports
*/
@import '~normalize.css/normalize';
@import '~awesomplete/awesomplete';

/**
* Module imports
*/
@import './elements/index.scss';
@import './components/index.scss';

@import '@scss/utils/_variables.scss';
@import '@scss/mixins/_weather.scss';

body, html {
  font-family:Montserrat;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hot {
  @include wi-background(bottom, rgb(251,89,97) 0%, rgb(255,158,105) 100%);
}

.cool {
  @include wi-background(bottom, rgb(253,110,34) 0%, rgb(254,213,102) 100%);
}

.freezing {
  @include wi-background(bottom, rgb(37,55,172) 0%, rgb(64,168,252) 100%);
}

.cold {
  @include wi-background(bottom, rgb(37,55,172) 0%, rgb(202,121,214) 100%);
}

body {
  position: relative;
  transition: 500ms;
  >.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.2);
  }
}

.app-container{
  position: relative;
  z-index: 10;
  height: 100%;
}

.divider {
  width: 90%;
  margin: 0 auto;
  border-bottom: solid 1px white;
}

@media screen and (min-width:$desktop-size) {
  .divider {
    width: 900px;
    margin: 0 auto;
    border-bottom: solid 1px white;
  }
}
