/**
* Lib imports
*/
@import '~awesomplete/awesomplete';
@import '~normalize.css/normalize';

/**
* Module imports
*/
@import './components/index.scss';

@import '@scss/utils/_variables.scss';
@import '@scss/mixins/_weather.scss';

a,
input,
select,
li,
ul,
body,
button{
  font-family:Montserrat;
}

body, html {
  margin: 0;
  padding: 0;
}

body, html, .app-container{
  height: 100%;
  display: block;
  overflow: auto;
}

.app-container{
  box-sizing: border-box;
  z-index: 10;
}

/**
* App themes
*/
.hot {
  @include wi-background(bottom, rgb(251,89,97) 0%, rgb(255,158,105) 100%);
}

.cool {
  @include wi-background(bottom, rgb(253,110,34) 0%, rgb(254,213,102) 100%);
}

.freezing {
  @include wi-background(bottom, rgb(37,55,172) 0%, rgb(64,168,252) 100%);
}

.cold {
  @include wi-background(bottom, rgb(37,55,172) 0%, rgb(202,121,214) 100%);
}

.week-forecast-chart-conatiner{
  padding: 1rem .6rem;
  margin: 0 auto;
}

@media screen and (min-width:$tablet-size) {
  .week-forecast-chart-conatiner{
    max-width: 500px;
    padding: 1rem .5rem;
  }
}


@media screen and (min-width:$desktop-size) {
  .week-forecast-chart-conatiner{
    max-width: 600px;
  }
}
